{% extends 'base.html' %}  
{% load custom_filters %}
{% block content %}




<h2>Warehouse entry/Complete Quality Control for {{ quality_control.product.name }}</h2>
<form method="post" class="mt-3">
    {% csrf_token %}

    <div class="form-group">
        <label for="id_warehouse" class="font-weight-bold">Select Warehouse:</label>
        {{ form.warehouse|form_control }}
    </div>

    <div class="form-group mt-2">
        <label for="id_location" class="font-weight-bold">Select Location:</label>
        <select id="id_location" name="location" class="form-control">
            <option value="">Select Location</option>
            <!-- Options will be populated via AJAX -->
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Complete QC</button>
</form>



<!-- Include the JavaScript for AJAX location filtering -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_warehouse').change(function() {
            var warehouseId = $(this).val();
            $.ajax({
                url: "{% url 'inventory:get_locations' %}",  // The URL for the AJAX endpoint
                data: {
                    'warehouse_id': warehouseId
                },
                success: function(data) {
                    $('#id_location').html(data);
                }
            });
        });
    });
</script>


{% endblock %}