{% extends 'base.html' %}  

{% block content %}


    


<div class="container-fluid main-content">
    <div class="row">     

        <div class="col-6 col-md-3 col-lg-2 p-2">
            <a href="{% url 'operations:add_existing_items' %}" class="text-decoration-none">
                <div class="menu-card">
                    <i class="fas fa-plus-square menu-icon"></i>
                    <div class="menu-title">Add existing item</div>
                </div>
            </a>
        </div>      

        <div class="col-6 col-md-3 col-lg-2 p-2">
            <a href="{% url 'operations:existing_items_list' %}" class="text-decoration-none">
                <div class="menu-card">
                    <i class="fas fa-list menu-icon"></i>
                    <div class="menu-title">Existing item  List</div>
                </div>
            </a>
        </div>  
        <div class="col-6 col-md-3 col-lg-2 p-2">
            <a href="{% url 'operations:create_operations_items_request' %}" class="text-decoration-none">
                <div class="menu-card">
                    <i class="fas fa-plus-square menu-icon"></i>
                    <div class="menu-title">Apply for requiremen</div>
                </div>
            </a>
        </div>  


        <div class="col-6 col-md-3 col-lg-2 p-2">
            <a href="{% url 'operations:operations_request_order_list' %}" class="text-decoration-none">
                <div class="menu-card">
                    <i class="fas fa-plus-square menu-icon"></i>
                    <div class="menu-title">Create delivery</div>
                </div>
            </a>
        </div>  

    </div>
</div>




    {% endblock %}

 