{% extends 'partner_portal_base.html' %}
{% load custom_filters %}
{% block content %}

<div class="container-fluid">
    <div class="container-fluid main-content py-4 d-flex justify-content-center gap-2 flex-wrap">
        <a href="{% url 'customerportal:rfq_list' %}" class="btn btn-sm btn-success">RFQ List</a>     
        <a href="{% url 'customerportal:supplier_quotation_list' %}" class="btn btn-sm btn-success"> Quotation List</a>   
   
    </div>

    <div class="row">   
        <h2 class="mt-4">RFQ Details: {{ rfq.rfq_number }}</h2>
        <!-- RFQ Info -->
        <fieldset class="border p-3 mb-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="mb-0">RFQ info:</h2>

              {% if rfq.status == 'sent' and not has_quotation %}
                <a href="{% url 'customerportal:create_supplier_quotation' rfq.id %}">
                    Create Quotation
                </a>
                {% elif rfq.rfq_quotation.first %}
                <span class="badge bg-info">
                    <a href="{% url 'customerportal:supplier_quotation_detail' rfq.rfq_quotation.first.id %}"
                    style="text-decoration: none;">Quotation submitted</a>
                </span>
            {% endif %}

            </div>


            <div class="row g-3">
                 <div class=" col-6 col-md-4">
                    <strong>Project Delivery date:</strong>
                    {{ rfq.required_delivery_date }}
                </div>
                <div class=" col-6 col-md-4">
                    <strong>Purchase Request:</strong>
                    {{ rfq.purchase_request_order }}
                </div>
               <div class=" col-6 col-md-4">
                    <strong>RFQ Number:</strong>
                    {{ rfq.rfq_number }}
                </div>
                <div class=" col-6 col-md-4">
                    <strong>Date:</strong>
                    {{ rfq.date }}
                </div>
               <div class=" col-6 col-md-4">
                    <strong>Valid Until:</strong>
                    {{ rfq.valid_until }}
                </div>
                <div class=" col-6 col-md-4">
                    <strong>Status:</strong>
                    {{ rfq.get_status_display }}
                </div>
                <div class="col-md-6">
                    <strong>Notes:</strong>
                    <p>{{ rfq.notes }}</p>
                </div>
            </div>
        </fieldset>

         <!-- RFQ Items -->
        <fieldset class="border p-3 mb-4 table-responsive">     
            <legend class="w-auto px-2">RFQ Items</legend>                  
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Product</th>
                         <th>Spec</th>
                        <th>Quantity</th>
                        <th>UOM</th>
                        <th>Unit Price</th>                      
                        <th>Required delivery date</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in rfq.items.all %}
                    <tr>
                        <td>{{ item.product }}</td>
                        <td>{{ item.specification}}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.unit_of_measure }}</td>
                        <td>{{ item.unit_price }}</td>     
                        <td>{{ item.required_delivery_date}}</td>                      
                        <td>{{ item.notes }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">No items added</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
  
    </div>
</div>



<script>
document.getElementById('send-rfq-form').addEventListener('submit', function(e){
    let confirmed = confirm("Are you sure you want to send this RFQ?");
    if(!confirmed){
        e.preventDefault(); // Stop form submission if user clicks Cancel
    }
});
</script>


{% endblock %}
