{% extends 'base.html' %}

{% block content %}



<div class="container-fluid main-content my-5">
    <div class="row">
        <div class="col-12">

   
    <h4 class="text-center">Confirm Dispatch Order</h4>

    <h4>Items to dispatch</h4>
    {% if basket %}
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Product</th>
              
                <th>Quantity</th>
                          
            </tr>
        </thead>
        <tbody>
            {% for item in basket %}
            <tr>
                <td>{{ item.name }}</td>
               
                <td>{{ item.quantity }}</td>
                          
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Confirm Dispatch</button>
    </form>
    {% else %}
    <p>No items in the basket to confirm purchase.</p>
    {% endif %}
</div>

</div>
</div>

{% endblock %}
