{% extends 'base.html' %}

{% block content %}

{% include 'manufacture/quick_access_button.html' %}

<div class="container">
    <h4 class="text-center">Confirm DeliveryOrder</h4>

    <h4>Items to deliver</h4>
    {% if basket %}
    <div class="table-responsive">


    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Quantity</th>
                 <th>Batch</th> 
                <th>Warehouse</th>
                <th>Location</th>             
            </tr>
        </thead>
        <tbody>
            {% for item in basket %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.batch_number }}</td>
                <td>{{ item.warehouse_name }}</td>
                <td>{{ item.location_name }}</td>              
            </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Confirm Delivery Order</button>
    </form>
    {% else %}
    <p>No items in the basket to confirm delivery.</p>
    {% endif %}
</div>






{% endblock %}
