{% extends "base.html" %}

{% block content %}
{% include 'manufacture/quick_access_button.html' %}
   

   <div class="container-fluid main-content">
    <div class="row">
        <div class="col-12 col-md-9 table-responsive">
            {% if order_instance %}
            <table class="table table-hover">
                <thead class="table-dark">                      
                    <h4>Items delivered</h4>
                        <tr>
                            <th>Product</th>
                            <th>Category</th>                            
                            <th style="white-space: nowrap;">Quantity</th>
                            <th style="white-space: nowrap;" >Unit Price</th>                       
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order_instance.materials_request_delivery.all %}
                        <tr>
                            <td style="white-space: nowrap;">{{ item.product.name }}</td>  
                            <td style="white-space: nowrap;">{{ item.product.category.name }}</td>                          
                            <td style="white-space: nowrap;">{{ item.quantity }}</td>
                            <td style="white-space: nowrap;">{{ item.product.unit_price }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">No deliveries found yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>




{% endblock %}
