{% extends "base.html" %}

{% block content %}



<div class="container-fluid main-content">
    <div class="row">
        
        <div class="col-12 col-md-9 table-responsive">

            {% if order_instance %}
                <table class="table table-striped">
                    <thead>                        
                    <h4>Items requested</h4>
                        <tr>
                            <th>Product</th>
                            <th>Category</th>                            
                            <th style="white-space: nowrap;">Quantity</th>
                            <th style="white-space: nowrap;" >Unit Price</th>                       
                       
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order_instance.purchase_order_item.all %}
                        <tr>
                            <td style="white-space: nowrap;">{{ item.product.name }}</td>  
                            <td style="white-space: nowrap;">{{ item.product.category.name }}</td>                          
                         
                            <td style="white-space: nowrap;">{{ item.quantity }}</td>
                            <td style="white-space: nowrap;">{{ item.product.unit_price }}</td>
                        
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
        
                
        </div>

    </div>
</div>


{% endblock %}
