{% extends 'base.html' %}  
{% load custom_filters %}
{% block content %}




<div class="container-fluid main-content">
    <div class="row">    
        <div class="col-12">     
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <form method ="GET" action="">
                            <label for="id_materials_order_id"> Order id</label>
                             {{ form.materials_order_id}}
                            <button type="Submit" class="btn btn-primary">Search</button>                           
                        </form>           
                    </div>
                    <div class="col-5">                  
                        {% if request_order %}
                            Search result for sale order: <b>{{ request_order }}</b>
                            {% else %}
                        <span> ID does not match</span>
                        {% endif %}  
                    
                    </div>
                </div>
            </div>

        </div>      
        <hr class="mt-2">
        
        <div class="col">       

            <h4>Requested Order list</h4>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr class="btn-primary text-white">
                   
                        <th class="text-center p-2">Order Number</th>                       
                        <th class="text-center p-2">Total amount</th>  

                        <th class="text-center p-2">Created at</th>                    
                        <th class="text-center p-2">Status</th>
                        <th class="text-center p-2">Requested by</th>
                        <th class="text-center p-2">Requested Items</th>
                        <th class="text-center p-2">Delivered Items</th>

                        <th class="text-center p-2">Submission</th>
                        <th class="text-center p-2">Reviewed</th>
                        <th class="text-center p-2">Approval</th>
                        <th class="text-center p-2">Create materials Order</th>   
                                          
                        <th class="text-center p-2">Submit Finish goods</th>
                    </tr>
                </thead>
                <tbody>                

                 {% for order in page_obj %}
                <tr>
                                           
                    <td class="text-center p-1" style="white-space: nowrap;">{{ order.order_id }}</td>
                    <td class="text-center p-2" style="white-space: nowrap;">{{order.total_amount}}</td>                
                    <td class="text-center p-2" style="white-space: nowrap;">{{order.created_at}}</td>
                    
                    
                    <td class="text-center p-2" style="white-space: nowrap;">{{order.get_status_display}}</td>
                    <td class="text-center p-2" style="white-space: nowrap;">{{order.user}}</td>
                    <td class="text-center p-1" style="white-space: nowrap;">
                        <a href="{% url 'manufacture:materials_request_items' order.id %}">Items</a>
                    </td>  
                    <td><a href="{% url 'manufacture:materials_delivered_items' order.id %}">Delivered items</a></td>
                    
                  
                            <!-- Requester Button -->
<td>
    {% if order.requester_approval_status == 'SUBMITTED' %}
    <strong><i class="fas fa-check" style="color:green">Submitted</i></strong>   
   {% else %}
   <a href="{% url 'manufacture:process_materials_request' order.id %}" class="btn btn-primary">Submit Request</a>
   {% endif %}
</td>

<!-- Reviewer Button -->
<td>
    {% if order.requester_approval_status != 'SUBMITTED'  %}   
    <button class="btn btn-secondary" disabled>Pending Submission</button>
    {% elif order.reviewer_approval_status == 'CANCELLED'  %}  
    <strong><i class="fas fa-times" style="color:rgb(236, 17, 6)">Cancelled</i></strong> 
   {% elif order.reviewer_approval_status == 'REVIEWED' %}
   <strong><i class="fas fa-check" style="color:green">Reviewed</i></strong>  
   {% else %}
   <a href="{% url 'manufacture:process_materials_request' order.id %}" class="btn btn-primary">Review Request</a>
   {% endif %}
</td>

<!-- Approver Button -->
<td>
    {% if order.reviewer_approval_status != 'REVIEWED'  %}
    <button class="btn btn-secondary" disabled>Pending review</button>
   {% elif order.approver_approval_status == 'APPROVED'  %}
   <strong><i class="fas fa-check" style="color:green">Approved</i></strong> 
   {% elif order.approver_approval_status == 'CANCELLED'  %}
   <strong><i class="fas fa-check" style="color:rgb(235, 9, 9)">Cancelled</i></strong> 
   {% else %}
   <a href="{% url 'manufacture:process_materials_request' order.id %}" class="btn btn-primary">Approve Request</a>
   {% endif %}
</td>

                    
                    <td>   
                      {% if order.materials_request_delivery.first %}
                      <strong><i class="fas fa-check" style="color:green">Order placed</i></strong> 
                      {% elif order.approver_approval_status != 'APPROVED' %}
                      <button class="btn btn-secondary" disabled>Approval Pending</button>
                      {% else %}                  
                    <a href="{% url 'manufacture:create_materials_delivery' order.id %}" class="btn btn-sm btn-primary">Create materials order</a>
                     {% endif %}
                    </td>

                    
                    
                     <td>
                        {% with order.finishedgoodsreadyfromproduction_set.first as finished_good %}
                            {% if finished_good and finished_good.status|in_list:"SUBMITTED,DELIVERED" %}
                                <span><i class="fas fa-check" style="color:green;font-weight: bolder;">Submitted</i></span>
                            {% else %}
                                <a href="{% url 'manufacture:submit_finished_goods' order.id %}">Submit Finished Goods</a>
                            {% endif %}
                        {% endwith %}
                    </td>
                    
                    
                </tr>

                    {% endfor %}
                </tbody>
            </table>



                
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
        </div>
    </div>
</div>      


<script>
    $(document).ready(function() {
        $('#id_materials_order_id').select2({
            width: '70%',
            placeholder: 'Search order...',
            allowClear: true,
            ajax: {
                url: "{% url 'accounts:common_search' %}",  // Ensure this URL is correct
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        q: params.term
                    };
                },
                processResults: function(data) {
                    return {
                        results: $.map(data.results, function(item) {
                            return {
                                id: item.id,
                                text: item.text
                            };
                        })
                    };
                },
                cache: true
            },
            minimumInputLength: 1,
            placeholder: 'Search for order',
            allowClear: true
        });
    });

    </script>
    





{% endblock %}