{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<div class="container-fluid">
<div class="container-fluid main-content py-4">
  <div class="row g-2 justify-content-center text-center">
    <div class="col-auto">
      <a href="{% url 'sales:create_customer_quotation' %}" class="btn btn-sm btn-success w-100">
        Create Customer Quotation
      </a>
    </div>
    <div class="col-auto">
      <a href="{% url 'sales:customer_quotation_list' %}" class="btn btn-sm btn-success w-100">
        Customer Quotation List
      </a>
    </div>
    <div class="col-auto">
      <a href="{% url 'sales:sale_request_order_list' %}" class="btn btn-sm btn-success w-100">
        Sales Request Order List
      </a>
    </div>
    <div class="col-auto">
      <a href="{% url 'sales:sale_order_list' %}" class="btn btn-sm btn-success w-100">
        Sale Order List
      </a>
    </div>
    <div class="col-auto">
      <a href="{% url 'logistics:sale_shipment_list' %}" class="btn btn-sm btn-success w-100">
        Sale Shipment List
      </a>
    </div>
    <div class="col-auto">
      <a href="{% url 'finance:sale_invoice_list' %}" class="btn btn-sm btn-success w-100">
        Sale Invoice List
      </a>
    </div>
  </div>
</div>

    <div class="row">

    <div class="col table-responsive">
        <h2>Customer Quotations</h2>

        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Quotation Number</th>
                    <th>Customer</th>
                    <th>Date</th>
                    <th>Valid Until</th>
                    <th>Status</th>
                    <th>Actions</th>
		    <th>Convert Quotation to Sale request </th>
                </tr>
            </thead>
            <tbody>
                {% for quotation in quotations %}
                <tr>
                    <td>{{ quotation.quotation_number }}</td>
                    <td>{{ quotation.customer }}</td>
                    <td>{{ quotation.date }}</td>
                    <td>{{ quotation.valid_until }}</td>
                    <td>{{ quotation.get_status_display }}</td>
                    <td>
                        <a href="{% url 'sales:customer_quotation_detail' quotation.pk %}" class="btn btn-info btn-sm">View</a>
                       {% if request.user.is_authenticated and quotation.status == "draft" %}
                        <a href="{% url 'sales:change_customer_quotation_status' quotation.pk 'sent' %}" 
                        class="btn btn-warning btn-sm">Send</a>
                    {% endif %}

                    {% if quotation.status == "sent" %}
                        <a href="{% url 'sales:change_customer_quotation_status' quotation.pk 'accepted' %}" 
                        class="btn btn-success btn-sm">Accept</a>
                        <a href="{% url 'sales:change_customer_quotation_status' quotation.pk 'rejected' %}" 
                        class="btn btn-danger btn-sm">Reject</a>
                    {% endif %}

                    </td>

		 <td>
                        {% if quotation.status == "accepted" %}
                         <a href="{% url 'sales:convert_quotation_to_sale_request' quotation.pk %}" 
                          class="btn btn-success btn-sm">Convert Quotation to Sale request</a>
                          {% else %}
                          <span class="badge bg-info">Quotation not accepted yet</span>
                        {% endif %}
                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">No customer quotations found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <!-- Current Status Badge -->
        <p>Status: 
            {% if quotation.status == "draft" %}<span class="badge bg-secondary">Draft</span>{% endif %}
            {% if quotation.status == "sent" %}<span class="badge bg-info">Sent</span>{% endif %}
            {% if quotation.status == "accepted" %}<span class="badge bg-success">Accepted</span>{% endif %}
            {% if quotation.status == "rejected" %}<span class="badge bg-danger">Rejected</span>{% endif %}
        </p>
        </div>
    </div>
</div>
{% endblock %}
