{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}

<div class="container-fluid">
<div class="container-fluid main-content py-4">
  <div class="row g-2 justify-content-center text-center">
    <div class="col-auto">
      <a href="{% url 'sales:create_customer_quotation' %}" class="btn btn-sm btn-success w-100">
        Create Customer Quotation
      </a>
    </div>
    <div class="col-auto">
      <a href="{% url 'sales:customer_quotation_list' %}" class="btn btn-sm btn-success w-100">
        Customer Quotation List
      </a>
    </div>
    <div class="col-auto">
      <a href="{% url 'sales:sale_request_order_list' %}" class="btn btn-sm btn-success w-100">
        Sales Request Order List
      </a>
    </div>
    <div class="col-auto">
      <a href="{% url 'sales:sale_order_list' %}" class="btn btn-sm btn-success w-100">
        Sale Order List
      </a>
    </div>
    <div class="col-auto">
      <a href="{% url 'logistics:sale_shipment_list' %}" class="btn btn-sm btn-success w-100">
        Sale Shipment List
      </a>
    </div>
    <div class="col-auto">
      <a href="{% url 'finance:sale_invoice_list' %}" class="btn btn-sm btn-success w-100">
        Sale Invoice List
      </a>
    </div>
  </div>
</div>

    <div class="row">

        <div class="container mt-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>Customer Quotation #{{ quotation.quotation_number }}</h2>
		{% if quotation.status == "accepted" %}
                <a href="{% url 'sales:convert_quotation_to_sale_request' quotation.id %}" 
                class="btn btn-success"
                onclick="return confirm('Convert this quotation to a Sale Request Order?')">
                    Convert to Sale Request Order
                </a>
		{% endif %}
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <p>
                    <strong>Customer:</strong> {{ request.user.username }}<br>
                    <strong>Quotation Date:</strong> {{ quotation.date }}<br>
                    <strong>Valid Until:</strong> {{ quotation.valid_until }}<br>
                    <strong>Sub total Amount:</strong> {{ quotation.subtotal|add_commas }}<br>
		    <strong>VAT:</strong> {{ quotation.vat_amount }}<br>
		    <strong>AIT:</strong> {{ quotation.ait_amount }}&nbsp;||{{quotation.AIT_rate}}%||{{quotation.AIT_type}}<br>
                    <strong>Net Amount:</strong> {{ quotation.net_due_amount|add_commas }}<br>
		     <strong>Status:</strong> {{ quotation.status }}<br>
                    <strong>Remarks:</strong> {{ quotation.notes|default:"-" }}<br>
			
                      {% if quotation.status == 'draft' %}
                      <a href="{% url 'sales:change_customer_quotation_status' quotation.pk 'sent' %}" 
			class="btn btn-warning btn-sm">Review and submit</a>
                      {% else %}
                      <span class="badge bg-info">Quotation has been submitted</span>
                      {% endif %}
                      &nbsp;||&nbsp;
                        {% if quotation.status != 'approved' %}
                        <span class="badge bg-warning">Waiting for Approval by Buyer</span>
                      {% else %}
                      <span class="badge bg-success">Quotation has been accepted</span>
                      {% endif %}
                      &nbsp;|&nbsp;
			
<td>
    {% if quotation.status == "approved" %}
       {% if not quotation.customer_sales_quotation.exists %}
            <a href="{% url 'sales:convert_quotation_to_sale_request' quotation.pk %}"
               class="btn btn-success btn-sm">
               Convert Quotation to Sale Request
            </a>
        {% else %}
            <span class="badge bg-secondary">Already Converted</span>
        {% endif %}
   {% elif quotation.status == "rejected" %}
        <span class="badge bg-danger">Rejected</span>
    {% else %}
       <span class="badge bg-info">Pending Approval</span>
   {% endif %}
 </td>
		
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Quotation Items</div>
                <div class="card-body p-0">
                    <div class="col table-responsive">
                    <table class="table table-bordered mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Unit Price</th> 
				<th>VAT</th>
                                <th>Line Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in quotation.sale_quotation_items.all %}
                            <tr>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.unit_price }}</td>
				<td>{{ item.vat_amount }}||{{item.VAT_rate}}%||{{item.VAT_type}}</td>                              
                                <td>{{ item.quantity|floatformat:2|default:0|multiply:item.unit_price }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center text-muted">No items</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

        </div>

        
    </div>
</div>
{% endblock %}
