{% extends 'base.html' %}  

{% block content %}




<div class="container-fluid main-content">
    
<h4>Shipment Tracking number: {{ shipment.tracking_number }}</h4>
<h4>Purchase Order: {{ shipment.purchase_order.order_id}}</h4>
<h6>Parent Dispatch ID: {{ shipment.purchase_order_dispatch.dispatch_id}}: Estimated delivery:{{ shipment.purchase_order_dispatch.delivery_date}}</h6>
<h4> <a href="{% url 'purchase:purchase_order_item' %}" class="btn btn-sn btn-primary">Details</a></h4>

      
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                       
                        <th>Parent Dispatch</th>                        
                        <th>Dispatched By</th>
                        <th>Dispatch Item</th>
                        <th>Quantity Ordered</th> <!-- Display quantity ordered -->                       
                        <th>Quantity Dispatched</th>
                        <th>Item dispatch Date</th>
                        <th>Item delivery Date</th>
                        <th>Status</th>
                        <th>Actions</th> <!-- New column for actions -->
                    </tr>
                </thead>
                <tbody>
                    {% for schedule in dispatch_schedules %}
                        {% for item in schedule.dispatch_items.all %}
                            <tr>
                              
                                <td>{{ schedule.dispatch_id}}</td>                               
                                <td>{{ schedule.dispatched_by }}</td>                              
                                <td>{{ item.dispatch_item.product.name }}</td>                    
                                <td>{{ item.dispatch_item.quantity }}</td>
                                <td>{{ item.dispatch_quantity }}</td>  
                                <td>{{ item.dispatch_date }}</td> 
                                <td>{{ item.delivery_date }}</td>                               
                                <td>{{ item.status }}</td>

                                <td>
                                    <a href="{% url 'logistics:create_purchase_dispatch_item' schedule.id %}" class="btn btn-primary">Add Item</a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>{{ schedule.dispatch_date }}</td>
                                <td>{{ schedule.delivery_date }}</td>
                                <td>{{ schedule.current_location }}</td>
                                <td>{{ schedule.dispatched_by }}</td>
                                <td colspan="5">No dispatch items found for this schedule.</td>
                                <td>
                                    <a href="{% url 'logistics:create_purchase_dispatch_item' schedule.id %}" class="btn btn-primary">Add Item</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% empty %}
                        <tr><td colspan="9">No dispatch schedules found.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="{% url 'logistics:add_purchase_shipment_dispatch_schedule' shipment.id %}" class="btn btn-primary">Add Dispatch Schedule</a>
    <a href="{% url 'logistics:purchase_shipment_list' %}" class="btn btn-primary">Shipment List</a>
</div>


{% endblock %}