{% extends "base.html" %}
{% load static %}


{% block content %}




 <div class="row g-2 justify-content-center text-center">
    <div class="col-auto">
      <a href="{% url 'leavemanagement:create_attendance_policy' %}" class="btn btn-sm btn-success">Create Leave policy</a>
    </div>


     <div class="col-auto">
      <a href="{% url 'leavemanagement:create_leave_type' %}" class="btn btn-sm btn-success">Create Leave type</a>
    </div>
     <div class="col-auto">
      <a href="{% url 'leavemanagement:view_attendance' %}" class="btn btn-sm btn-success">View attendance</a>
    </div>
     <div class="col-auto">
      <a href="{% url 'leavemanagement:apply_leave' %}" class="btn btn-sm btn-success">Apply leave</a>
    </div>
     <div class="col-auto">
      <a href="{% url 'leavemanagement:leave_history' %}" class="btn btn-sm btn-success">CLeave history</a>
    </div>
     <div class="col-auto">
      <a href="{% url 'leavemanagement:pending_leave_list' %}" class="btn btn-sm btn-success">Leave List</a>
    </div>
     <div class="col-auto">
      <a href="{% url 'leavemanagement:leave_summary' %}" class="btn btn-sm btn-success">Leave summary</a>
    </div>
     <div class="col-auto">
      <a href="{% url 'leavemanagement:leave_dashboard' %}" class="btn btn-sm btn-success">Leave dashboard</a>
    </div>
      <div class="col-auto">
      <a href="{% url 'leavemanagement:check_and_deduct_late_leaves' %}" class="btn btn-sm btn-success">Check and deduct leave</a>
    </div>
      <div class="col-auto">
      <a href="{% url 'leavemanagement:update_leave_balances_for_all' %}" class="btn btn-sm btn-success">Update leave balance for all</a>
    </div>
       <div class="col-auto">
      <a href="{% url 'leavemanagement:carry_forward_leave' %}" class="btn btn-sm btn-success">Carry forward leave</a>
    </div>
   
  </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col table-responsive">

                    
            <h4>Employee Attendance Status</h4>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center p-2">Employee</th>
                        <th class="text-center p-2">Employee ID</th>
                        <th class="text-center p-2">Date</th>
                        <th class="text-center p-2">Day</th>
                        <th class="text-center p-2">Check-in Time</th>
                        <th class="text-center p-2">Check-out Time</th>
                        <th class="text-center p-2">Total Hours</th>
                        <th class="text-center p-2">Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attendance in attendance_records %}
                    <tr>
                        <td class="text-center p-2">{{ attendance.employee }}</td>
                        <td class="text-center p-2">{{ attendance.employee.employee_code }}</td>
                        <td class="text-center p-2">{{ attendance.date }}</td>
                        <td class="text-center p-2">{{ attendance.date|date:"l" }}</td> <!-- Format date to display the day -->
                        <td class="text-center p-2">{{ attendance.check_in_time }}</td>
                        <td class="text-center p-2">{{ attendance.check_out_time }}</td>
                        <td class="text-center p-2">{{ attendance.total_hours }}</td>
                        <td class="text-center p-2"><a href="{% url 'leavemanagement:update_attendance' employee_id=attendance.id %}">Update</a></td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
</div>

    
{% endblock %}
