{% extends 'base.html' %}

{% block content %}



<div class="container main-content">
    <h4 class="text-center">Confirm sale Order</h4>

  <div class="col table-responsive">
    <h4>Items to be sold</h4>
    {% if basket %}
    <table class="bg-light">
        <thead class="bg-dark text-white">
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Warehouse</th>
                <th>Customer</th>             
            </tr>
        </thead>
        <tbody>
            {% for item in basket %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.warehouse }}</td>
                <td>{{ item.customer }}</td>              
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Confirm Sale Order</button>
    </form>
    {% else %}
    <p>No items in the basket to confirm sale.</p>
    {% endif %}
</div>




{% endblock %}
