{% extends 'base.html' %}  

{% load custom_filters %}

{% block content %}




<div class="container-fluid main-content">
    <div class="row">     

        <div class="col-12">     
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <form method="GET" action="" class="mb-2">
                            <label for="id_sale_request_order_id">Sale request order</label>
                            {{ form.sale_request_order_id }}
                        <button type="Submit" class="btn btn-sm btn-primary">Search</button>
                    </form>        
                    </div>
                    <div class="col-5">                  
                        <h6 class="text-center mb-4">
                            {% if sale_request_order %}
                            Search result for request order: <b>{{ sale_request_order }}</b>
                            {% else %}
                        </h6>
                        <span> ID does not match</span>
                        {% endif %}  
                    
                    </div>
                </div>
            </div>

        </div>      
        <hr class="mt-2">
        
        <div class="col-12 table-responsive">       

            <h4>Requested Order list</h4>

            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                   
                        <th class="text-center p-2">Order Number</th>
                        <th class="text-center p-2">Total amount</th> 
                        <th class="text-center p-2">Items requested</th>     

                        <th class="text-center p-2">Created at</th>                    
                        <th class="text-center p-2">Status</th>
                        <th class="text-center p-2">Requested by</th>

                        <th class="text-center p-2">Submission</th>
                        <th class="text-center p-2">Reviewed</th>
                        <th class="text-center p-2">Approval</th>


                        <th class="text-center p-2">Create Sale Order</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in page_obj %}
                 
                    <tr>
                         
                    <td class="text-center p-1" style="white-space: nowrap;">{{ order.order_id }}</td>
                    <td class="text-center p-2" style="white-space: nowrap;">{{order.total_amount|add_commas}}</td>
                    <td class="text-center p-2" style="white-space: nowrap;">
                        <a href="{% url 'sales:sale_request_items' order.id %}" style="text-decoration: None;">Items</a>
                    </td>


                    <td class="text-center p-2" style="white-space: nowrap;">{{order.created_at}}</td>
                    
                    <td class="text-center p-2" style="white-space: nowrap;">
                        {% if order.status == "DELIVERED" %}                        
                       <i class="fas fa-check" style="color:green;font-weight: bold;"> {{order.status}}</i>
                       {% else %}
                       <span style="color:red;font-weight: bold;">In process</span>
                       {% endif %}
                    </td>
                    <td class="text-center p-2" style="white-space: nowrap;">{{order.user}}</td>


                   
                            <!-- Rquester Button -->
                            <td>
                                {% if order.requester_approval_status == 'SUBMITTED' %}
                                <strong><i class="fas fa-check" style="color:green">Submitted</i></strong>
                                {% else %}
                                <a href="{% url 'sales:process_sale_request' order.id %}" class="btn btn-primary">Submit</a>
                                {% endif %}

                            </td>                            

                            <!-- Review Button -->
                            <td>
                                {% if order.requester_approval_status != 'SUBMITTED' %}
                                <strong><i class="fas fa-times" style="color:rgb(128, 21, 0)" class="btn btn-secondary">Submission Pending</i></strong>
                                {% elif order.requester_approval_status == 'SUBMITTED' and order.reviewer_approval_status != 'REVIEWED'  %}
                                <a href="{% url 'sales:process_sale_request' order.id %}" class="btn btn-primary">Review</a>
                                {% else %}
                                <strong><i class="fas fa-check" style="color:green" class="btn btn-secondary">Reviewed</i></strong>
                                {% endif %}


                            </td>                          
                                                    
                            <!-- Approver Button -->                                                
                            <td>
                            {% if order.reviewer_approval_status != 'REVIEWED' %}
                            <strong><i class="fas fa-times" style="color:rgb(128, 21, 0)" class="btn btn-secondary">Review Pending</i></strong>
                            {% elif order.reviewer_approval_status == 'REVIEWED' and order.approver_approval_status != 'APPROVED'  %}
                            <a href="{% url 'sales:process_sale_request' order.id %}" class="btn btn-primary">Approve</a>
                            {% else %}
                            <strong><i class="fas fa-check" style="color:green">Approved</i></strong> 
                            {% endif %}

                            </td>


                <td>
                    {% if order.is_fully_ordered %}                             
                    <i class="fas fa-check" style="color:green;font-weight: bold;">Fully ordered</i>                   
                    {% elif order.approver_approval_status != 'APPROVED' %}
                    <strong><i class="fas fa-times" style="color:red" class="btn btn-secondary">Approval Pending</i></strong>
                    {% else %}
                    <a href="{% url 'sales:create_sale_order' order.id %}" class="btn btn-sm btn-primary">Create Sale Order</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

            
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>      





<script>
    $(document).ready(function() {
        $('#id_sale_request_order_id').select2({
            width: '70%',
            placeholder: 'Search sale request ID...',
            allowClear: true,
            ajax: {
                url: "{% url 'accounts:common_search' %}",  // Ensure this URL is correct
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        q: params.term
                    };
                },
                processResults: function(data) {
                    return {
                        results: $.map(data.results, function(item) {
                            return {
                                id: item.id,
                                text: item.text
                            };
                        })
                    };
                },
                cache: true
            },
            minimumInputLength: 1,
            placeholder: 'Search for sale request ID',
            allowClear: true
        });
    });

  
    </script>
    





{% endblock %}
