{% extends 'base.html' %}
{% block content %}

<form method="GET" action="{% url 'officemanagement:purchase_confirmation_and_warehouse_entry' purchase_request_order.id %}">
    <label for="valuation_method">Choose Valuation Method:</label>
    <select name="valuation_method" id="valuation_method" onchange="this.form.submit()">
        <option value="FIFO" {% if valuation_method == 'FIFO' %}selected{% endif %}>FIFO</option>
        <option value="LIFO" {% if valuation_method == 'LIFO' %}selected{% endif %}>LIFO</option>
    </select>
</form>


<form method="POST" class="mt-4">
    {% csrf_token %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>               
                    <th>Product</th>
                    <th>Requested Quantity</th>
                    <th>Batch</th>
                    <th>Warehouse</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for item in purchase_request_items %}

                <tr>
                
                    <td>
                        {{ item.product_name }}
                        <input type="hidden" name="product_id_{{ forloop.counter }}" value="{{ item.product_id }}">
                    </td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <select name="batch_{{ forloop.counter }}" class="form-select">
                            <option value="" selected disabled>Select Product Batch</option>
                            {% for batch in item.batches %}
                            <option value="{{ batch.id }}">{{ batch.batch_number }} (Product:{{ batch.stationary_product }}) (Quanity: {{ batch.quantity }})</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="warehouse_{{ forloop.counter }}" class="form-select">
                            <option value="" selected disabled>Select warehouse</option>
                            {% for warehouse in warehouses %}
                            <option value="{{ warehouse.id }}">{{ warehouse.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="location_{{ forloop.counter }}" class="form-select">
                            <option value="" selected disabled>Select Location</option>
                            {% for location in locations %}
                            <option value="{{ location.id }}">{{ location.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

    <button type="submit" class="btn btn-primary">Confirm warehouse Entry</button>
</form>


{% endblock %}
