{% extends "base.html" %}
{% load custom_filters %}
{% block content %}




<div class="container-fluid main-content">



<div class="container-fluid main-content">
    <div class="container-fluid main-content py-4 d-flex justify-content-center gap-2 flex-wrap">
         <a href="{% url 'purchase:create_purchase_request' %}" class="btn btn-sm btn-success">Request for Purchase</a>
        <a href="{% url 'purchase:purchase_request_order_list' %}" class="btn btn-sm btn-success">Request Order List</a>
        <a href="{% url 'purchase:rfq_list' %}" class="btn btn-sm btn-success">RFQ List</a>     
        <a href="{% url 'purchase:supplier_quotation_list' %}" class="btn btn-sm btn-success">Supplier Quotation List</a>   
        <a href="{% url 'purchase:purchase_order_list' %}" class="btn btn-sm btn-success">Purchase Order List</a>
        <a href="{% url 'purchase:create_batch' %}" class="btn btn-sm btn-success">Create Batch</a>
        <a href="{% url 'logistics:purchase_shipment_list' %}" class="btn btn-sm btn-success">Purchase Shipment</a>
         <a href="{% url 'purchase:batch_list' %}" class="btn btn-sm btn-success">Batch List</a>
    
    </div>

    <div class="row">
         {% if order_instance %}
        <div class="col-12 table-responsive">

            <table class="table table-hover">
                <thead class="table-dark">                       
                    <h4>Items requested</h4>
                        <tr>
                            <th>Product</th>
                            <th>Category</th>
			    <th>Spec</th>
			    <th>UOM</th>
                            <th style="white-space: nowrap;">Quantity</th>
                            <th style="white-space: nowrap;" >Unit Price</th>
			    <th>Currency</th>
			    <th>Line total</th>                       
                            <th>Supplier</th>
			    <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order_instance.purchase_order_item.all %}
                        <tr>
                            <td style="white-space: nowrap;">{{ item.product.name }}</td>  
                            <td style="white-space: nowrap;">{{ item.product.category.name }}</td>
			    <td>{{ item.specification }}</td>
			    <td>{{ item.unit_of_measure }}</td>                          
                            <td style="white-space: nowrap;">{{ item.quantity }}</td>
                            <td style="white-space: nowrap;">{{ item.product.unit_price }}</td>
			     <td>{{ item.currency }}</td>
			    <td>{{ item.total_price }}</td>
                            <td>{{ item.supplier }}</td>
			    <td>{{ item.remarks }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                <h3 class="text-center">Total amount= BDT&nbsp;{{ total_amount|add_commas}}</h3>
                
        </div>

    </div>
</div>



{% endblock %}
