{% extends 'base.html' %}  

{% load custom_filters %}

{% block content %}

<style>
    .table-responsive{
        overflow-x: auto;
    }
</style>


<div class="container-fluid main-content">
<div class="container-fluid main-content py-4">
  <div class="row g-2 justify-content-center text-center">
    <div class="col-auto">
      <a href="{% url 'purchase:create_purchase_request' %}" class="btn btn-sm btn-success">Request for Purchase</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:purchase_request_order_list' %}" class="btn btn-sm btn-success">Request Order List</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:rfq_list' %}" class="btn btn-sm btn-success">RFQ List</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:supplier_quotation_list' %}" class="btn btn-sm btn-success">Supplier Quotation List</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:purchase_order_list' %}" class="btn btn-sm btn-success">Purchase Order List</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:create_batch' %}" class="btn btn-sm btn-success">Create Batch</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'logistics:purchase_shipment_list' %}" class="btn btn-sm btn-success">Purchase Shipment</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:batch_list' %}" class="btn btn-sm btn-success">Batch List</a>
    </div>
       <div class="col-auto">
        <a href="{% url 'finance:purchase_invoice_list' %}" class="btn btn-sm btn-success">Purchase Invoice List</a>
        </div>
         <div class="col-auto">
        <a href="{% url 'finance:sale_invoice_list' %}" class="btn btn-sm btn-success">Sale Invoice List</a>
        </div>
  </div>
</div>

    <div class="row mt-4">  

        <div class="col-12">     
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <form method="GET" action="{% url 'purchase:purchase_order_list' %}">  
                            <label for="id_purchase_order_id">Order Number</label>
                            {{ form.purchase_order_id }}
                            <button type="submit" class="btn btn-primary">Search</button>  
                        </form>
                    </div>
                    <div class="col-5">
                        {% if form_submitted %} 
                        {% if order_id %}                    
                        <span>Search result for Order ID: <b>{{ order_id }}</b></span> 
                    {% else %} 
                    <span>Purchase order ID does not match</span>                
                        {% endif %}
                        {% endif %}
                    
                    </div>

                </div>
            </div>
        </div> 
     
       
     
        <div class="col-12">    
            <h4> Placed Purchase orders</h4>
             <!-- Column Selection Dropdown (Better UI) -->
             <div class="dropdown mt-4">
                <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="columnDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Select Columns
                </button>
                <ul class="dropdown-menu" aria-labelledby="columnDropdown">
                    <li><button class="btn btn-sm btn-primary" id="selectAll">Select All</button></li>
                    <li><button class="btn btn-sm btn-danger" id="deselectAll">Deselect All</button></li>
                    <li><input type="checkbox" class="column-checkbox" value="batch"> Purchase Order Number</li>
                    <li><input type="checkbox" class="column-checkbox" value="inbound"> Request Order number</li>
                    <li><input type="checkbox" class="column-checkbox" value="outbound"> Total amount Due</li>
                    <li><input type="checkbox" class="column-checkbox" value="manufacture_in"> Total amount Paid</li>
                    <li><input type="checkbox" class="column-checkbox" value="manufacture_out"> Status</li>
                    <li><input type="checkbox" class="column-checkbox" value="replacement_in"> Submission</li>
                    <li><input type="checkbox" class="column-checkbox" value="replacement_out"> Review</li>
                    <li><input type="checkbox" class="column-checkbox" value="operations_out"> Approval</li>
                    <li><input type="checkbox" class="column-checkbox" value="transfer_in"> Create parent Schedule</li>
                    <li><input type="checkbox" class="column-checkbox" value="transfer_out"> Add child schedule</li>
                    <li><input type="checkbox" class="column-checkbox" value="scrapped_out"> Scrapped Out</li>
                    <li><input type="checkbox" class="column-checkbox" value="remaining"> Remaining Quantity</li>
                    <li><hr class="dropdown-divider"></li>
                
                </ul>
            </div>   
        </div>

           
        <div class="col-12 table-responsive">  
            <table class=" table">
                <thead class="table-dark">
                    <tr class="btn-primary text-white">

                          <th class="text-center p-2">Product Batch</th>   
                   
                        <th class="text-center p-2">Purchase Order Number</th>                      
                         <th class="text-center p-2">Request Order Number</th>
                        <th class="text-center p-2">Total amount Due</th>                   
                        <th class="text-center p-2">Total amount Paid</th>  

                        <th class="text-center p-2">Status</th>                
                        <th class="text-center p-2">Prepared by</th>
                        <th class="text-center p-2">Order items</th>
                        <th class="text-center p-2">Submission</th>

                        <th class="text-center p-2">Reviewal</th>
                        <th class="text-center p-2">Approval</th>                                     
                        <th class="text-center p-2">Create Parent schedule</th>
                        <th class="text-center p-2">Add child schedule</th>

                        <th class="text-center p-2" style="background-color: rgb(235, 109, 12);">Update Shipment</th> 
                        <th class="text-center p-2">Dispatched Items</th>
                        <th class="text-center p-2">QC Dashboard</th>                        
                        <th class="text-center p-2">Create Invoice</th>

                        <th class="text-center p-2">Payment Status</th>
                        <th class="text-center p-2">Make payment</th>                       
                        <th class="text-center p-2">Download invoice</th> 
                        <th class="text-center p-2">Upload invoice</th> 

                        <th class="text-center p-2">Upload Payment Docs</th> 
                        <th class="text-center p-2">View invoice</th> 
                        <th class="text-center p-2">View payment Doc</th> 
                     
                    </tr>
                </thead>
                <tbody>
                    {% for order in page_obj %}
                  
                        <tr>          
                        <td>
                            {% if not order.purchase_order_item.first.batch %}
                                <a href="{% url 'purchase:add_batch_details' order.id %}" class="btn btn-primary">Add batch details</a>
                                {% else %}
                                <span>{{ order.purchase_order_item.first.batch.batch_number }}</span>
                                {% endif %}
                        </td>                 
                         
                            <td class="text-center p-1" style="white-space: nowrap;font-size: 10px;">{{ order.order_id }}</td>                            
                            <td class="text-center p-1" style="white-space: nowrap;font-size: 10px;">{{ order.purchase_request_order.order_id }}</td>
                            <td class="text-center p-2" style="white-space: nowrap;">{{order.total_amount}}</td>                         
                            <td class="text-center p-2" style="white-space: nowrap;">
                                {% with shipment=order.purchase_shipment.first %}
                                    {% if shipment %}
                                        {% with invoice=shipment.shipment_invoices.first %}
                                            {% if invoice %}
                                                <!-- Display the total payment amount from @property -->
                                                <span>BDT{{ invoice.total_paid_amount }}</span>
                                            {% else %}
                                                <span class="text-secondary">No Invoice</span>
                                            {% endif %}
                                        {% endwith %}
                                    {% else %}
                                        <span class="text-secondary">No Shipment</span>
                                    {% endif %}
                                {% endwith %}
                            </td>
                                                         
                            


                            <td>
                                {% if order.is_fully_delivered %}   
                                <i class="fas fa-check" style="color:green;font-weight: bold;">Delivered</i>
                                {% else %}
                                <span style="color:red;font-weight: bold;">In process</span>
                                {% endif %}
                            </td>    
                                   
                            <td class="text-center p-2" style="white-space: nowrap;">{{order.user}}</td>
                            <td class="text-center p-1" style="white-space: nowrap;">
                                <a href="{% url 'purchase:purchase_order_items' order.id %}">Items</a>
                            </td>
                           
                            <!-- Requester Button -->
                        <td>
                            {% if order.requester_approval_status == 'SUBMITTED' %}
                            <strong><i class="fas fa-check" style="color:green">Submitted</i></strong>   
                        {% else %}
                        <a href="{% url 'purchase:process_purchase_order' order.id %}" class="btn btn-primary">Submit Request</a>
                        {% endif %}
                        </td>



                        <!-- Reviewer Button -->
                        <td>
                            {% if order.requester_approval_status != 'SUBMITTED'  %}   
                            <button class="btn btn-secondary" disabled>Pending Submission</button>
                            {% elif order.reviewer_approval_status == 'CANCELLED'  %}  
                            <strong><i class="fas fa-times" style="color:rgb(236, 17, 6)">Cancelled</i></strong> 
                        {% elif order.reviewer_approval_status == 'REVIEWED' %}
                        <strong><i class="fas fa-check" style="color:green">Reviewed</i></strong>  
                        {% else %}
                        <a href="{% url 'purchase:process_purchase_order' order.id %}" class="btn btn-primary">Review Request</a>
                        {% endif %}
                        </td>

                        <!-- Approver Button -->
                    <td>
                        {% if order.reviewer_approval_status != 'REVIEWED'  %}
                        <button class="btn btn-secondary" disabled>Pending review</button>
                        {% elif order.approver_approval_status == 'APPROVED'  %}
                        <strong><i class="fas fa-check" style="color:green">Approved</i></strong> 
                        {% elif order.approver_approval_status == 'CANCELLED'  %}
                        <strong><i class="fas fa-check" style="color:rgb(235, 9, 9)">Cancelled</i></strong> 
                        {% else %}
                        <a href="{% url 'purchase:process_purchase_order' order.id %}" class="btn btn-primary">Approve Request</a>
                        {% endif %}
                    </td>                        

                        <!-- Shipment section -->                    
                         <td class="text-center p-2" style="white-space: nowrap;">
                            {% if not order.purchase_shipment.first %}
                             <a href="{% url 'logistics:create_purchase_shipment' order.id %}" class="btn btn-sm btn-primary">Create</a>                       
                         {% else %}                       
                             <i class="fas fa-check" style="color:green;font-weight: bold;">Created</i>
                           {% endif %}  
                        </td>                                       
                                                 
                      <td> 
                         {% if order.approver_approval_status != 'APPROVED' %}
                        <button class="btn btn-secondary" disabled>Pending Approval</button>
                        {% else %}                           
                        {% with shipment=order.purchase_shipment.first %}
                        {% if shipment %}
                                {% if shipment.is_fully_shipped %}
                        <i class="fas fa-check" style="color:green;font-weight: bold;">All Scheduled</i>
                            {% else %}
                            
                                <a href="{% url 'logistics:create_purchase_dispatch_item' shipment.id %}" class="btn btn-sm btn-primary">Add</a>
                            
                            {% endif %}
                            {% else %}
                        Make shipment first
                        {% endif %}
                        {% endwith %}
                    {% endif %}
                    </td>



                    <td style="background-color: aquamarine;">
                        {% if order.approver_approval_status != 'APPROVED' %}
                            <span>Approval Pending</span>
                         
                            {% elif order.is_fully_delivered %}

                        <i class="fas fa-check" style="color:green;font-weight: bold;">Delivered</i>
                        {% else %}
                            <a href="{% url 'logistics:dispatch_item_list' order.id %}">Update</a>
                                                
                           
                        {% endif %}
                    </td>

                    <td>                        
                        <a href="{% url 'logistics:dispatch_item_list' order.id %}">Items</a>                                    
                    </td>                                         

                 <!-- QC Dashboard section -->
                 <td>
                    {% if order.is_full_delivered %}                   
                        <i class="fas fa-check" style="color:green; font-weight: bold;">QC completed</i>
                     {% else %}                        
                        <a href="{% url 'purchase:qc_dashboard_with_order' order.id %}" class="btn btn-sm btn-primary">QC Dashboard</a>
                    {% endif %}                   
                </td>              

                <!-- Invoice section -->                 
                <td> 
                    {% if order.approver_approval_status != 'APPROVED' %}
                        
                        <button class="btn btn-secondary" disabled>Pending Approval</button>
                    {% else %}                                                    
                        {% with shipment=order.purchase_shipment.first %}
                            {% if shipment %}
                                {% with invoices=shipment.shipment_invoices %}
                                    {% if invoices.exists %}
                                        {% if shipment.is_fully_invoiced %}
                                        <i class="fas fa-check" style="color:green;font-weight: bold;">Fully Invoiced</i>
                                    {% else %}
                                        <i class="fas fa-check" style="color:green;font-weight: bold;">Partially Invoiced</i>                                          
                                        <a href="{% url 'finance:create_purchase_invoice' shipment.id %}" class="btn btn-sm btn-primary">
                                            Create Another Invoice
                                        </a>
                                        
                                    {% endif %}

                                    {% else %}                                            
                                    <a href="{% url 'finance:create_purchase_invoice' shipment.id %}" class="btn btn-sm btn-primary">Create Invoice</a>
                                        
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                <button class="btn btn-sm btn-secondary" disabled>Make shipment first</button>
                            {% endif %}
                        {% endwith %}   
                {% endif %}

               {% with shipment=order.purchase_shipment.first %}
                    {% if order.supplier_quotation %}
                        {% if not shipment or not shipment.shipment_invoices.first %}
                            <a href="{% url 'finance:create_purchase_invoice_from_quotation' order.supplier_quotation.id %}"
                            class="btn btn-primary"
                            onclick="return confirm('Convert this quotation to Invoice?')">
                                Convert to Invoice
                            </a>
                        {% endif %}
                    {% endif %}
                {% endwith %}



             </td>


                <!-- Payment status section -->
                    <td>
                    {% with status=order.get_payment_status %}
                        {% if status == "FULLY_PAID" %}
                            <span class="text-success fw-bold">Fully Paid</span>
                        {% elif status == "PARTIALLY_PAID" %}
                            <span class="text-warning fw-bold">Partially Paid</span>
                        {% elif status == "NO_PAYMENT" %}
                            <span class="text-danger fw-bold">No Payment Made</span>
                        {% elif status == "NO_INVOICE" %}
                            <span class="text-muted fw-bold">No Invoice Issued</span>
                        {% elif status == "NO_SHIPMENT" %}
                            <span class="text-muted fw-bold">No Shipment</span>
                        {% else %}
                            <span class="text-secondary fw-bold">Unknown</span>
                        {% endif %}
                    {% endwith %}
                </td>               

                  <td class="text-center p-2" style="white-space: nowrap;">
                        {% with action=order.get_payment_action %}
                            {% if action.status == "APPROVAL_PENDING" %}
                                <span class="text-muted">Approval pending</span>
                            {% elif action.status == "NO_SHIPMENT" %}
                                <span class="text-muted">No shipment found</span>
                            {% elif action.status == "NO_INVOICE" %}
                                <span class="text-muted">No invoice found</span>
                            {% elif action.status == "NO_PAYMENT" or action.status == "PARTIAL" %}
                                <a href="{% url 'finance:create_purchase_payment' action.invoice.id %}" 
                                class="btn btn-sm btn-primary">
                                    Make Payment
                                </a>
                            {% elif action.status == "FULLY_PAID" %}
                                <span class="text-success fw-bold">
                                    <i class="fas fa-check"></i> Fully Paid
                                </span>
                            {% endif %}
                        {% endwith %}
                    </td>

                  <td>                      
                       
                {% if order.get_first_invoice.status|in_list:"SUBMITTED,PARTIALLY_PAID,FULLY_PAID" %}
                    <a href="{% url 'finance:download_purchase_invoice' order.id %}?mode=preview" target="_blank">
                        Preview
                    </a>
                    <a href="{% url 'finance:download_purchase_invoice' order.id %}?mode=download">
                        Download
                    </a>
                    {% else %}
                        <span>Invoice Not Submitted (Current: {{ invoice.status }})</span>
                    {% endif %}                        
                       
                    </td>



                    <td>
                        {% if order.purchase_shipment.first.shipment_invoices.first and not order.purchase_shipment.first.shipment_invoices.first.purchase_invoice_attachment.first %}
                        <a href="{% url 'finance:add_purchase_invoice_attachment' order.purchase_shipment.first.shipment_invoices.first.id %}">Upload signed invoice</a>
                        {% elif order.purchase_shipment.first.shipment_invoices.first.purchase_invoice_attachment.first %}
                        <i class="fas fa-check" style="color: green; font-weight: bold;">Uploaded</i>
                        {% else %}
                        <span> Invoice not createt yet</span>
                        {% endif %}
                    </td>




                    <td>
                        {% if order.purchase_shipment.first.shipment_invoices.first and not order.purchase_shipment.first.shipment_invoices.first.purchase_payment_attachment.first %}
                        <a href="{% url 'finance:add_purchase_payment_attachment' order.purchase_shipment.first.shipment_invoices.first.id %}">Upload Payment Docs</a>
                        {% elif order.purchase_shipment.first.shipment_invoices.first.purchase_payment_attachment.first %}
                        <i class="fas fa-check" style="color: green; font-weight: bold;">Uploaded</i>
                        {% else %}
                        <span> Payment not made yet</span>
                        {% endif %}
                    
                    </td>                  

                    <!-- view  attachement -->
                    <td>
                        {% if order.purchase_shipment.first.shipment_invoices.first.purchase_invoice_attachment.first.file.url %}
                            <a href="{{ order.purchase_shipment.first.shipment_invoices.first.purchase_invoice_attachment.first.file.url }}" target="_blank">
                                <img src="{{ order.purchase_shipment.first.shipment_invoices.first.purchase_invoice_attachment.first.file.url }}" alt="Invoice Attachment" style="max-width: 50px; max-height: 30px;">
                            </a>
                        {% else %}
                            <span>No file</span>
                        {% endif %}
                    </td>

                <!-- view attachement -->
                <td>
                    {% if order.purchase_shipment.first.shipment_invoices.first.purchase_payment_attachment.first.file.url %}
                        <a href="{{ order.purchase_shipment.first.shipment_invoices.first.purchase_payment_attachment.first.file.url }}" target="_blank">
                            <img src="{{ order.purchase_shipment.first.shipment_invoices.first.purchase_payment_attachment.first.file.url }}" alt="Invoice Attachment" style="max-width: 50px; max-height: 30px;">
                        </a>
                    {% else %}
                        <span>No file</span>
                    {% endif %}
                </td>        
                                      

                     </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
               

            
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>


    </div>

</div>      



<script>
    $(document).ready(function() {
        $('#id_purchase_order_id').select2({
            width: '50%',
            placeholder: 'Search employee...',
            allowClear: true,
            ajax: {
                url: "{% url 'accounts:common_search' %}",  // Ensure this URL is correct
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        q: params.term
                    };
                },
                processResults: function(data) {
                    return {
                        results: $.map(data.results, function(item) {
                            return {
                                id: item.id,
                                text: item.text
                            };
                        })
                    };
                },
                cache: true
            },
            minimumInputLength: 1,
            placeholder: 'Search for Purchase order',
            allowClear: true
        });
    });


    </script>
    

{% endblock %}