{% extends 'base.html' %}  

{% block content %}



<div class="container-fluid main-content">
    <div class="row">
        <div class="col table-responsive">

            <h2>Quality Control Dashboard</h2>

            <table class="bg-light">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Purchase Order</th>
                        <th>Shipment ID</th>
                        <th>Dispatch Item ID</th>
                        <th>Product</th>
                        <th>Supplier</th>
                        <th>Order Quantity</th>
                        <th>Dispatch Quantity</th>
                        <th>Dispatch Status</th>
                        <th>Inspection</th>
                        <th>QC Confirmation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in pending_items %}
                    <tr>
            
                        <td>{{ item.dispatch_item.purchase_order.order_id }}</td>
                        <td>{{ item.purchase_shipment.shipment_id }}</td>
                        <td>{{ item.dispatch_id }}</td>
                        <td>{{ item.dispatch_item.product.name }}</td>
                        <td>{{ item.dispatch_item.purchase_order.supplier.name}}</td>
                        <td>{{ item.dispatch_item.quantity }}</td>
                        <td>{{ item.dispatch_quantity }}</td>
                        <td>{{ item.get_status_display }}</td>  <!-- Display the dispatch status -->
            
                        <td>
                            {% if item.status == 'REACHED' %}
                                <a href="{% url 'purchase:qc_inspect_item' item.id %}" class="btn btn-primary">Inspect</a>
                            {% elif item.status == 'OBI' %}
                                <span>Inspection Done</span>
                            {% endif %}
                        </td>
                        
                        <!-- Complete QC Button -->
                        <td>
                            {% if item.status == 'OBI' %}
                                <a href="{% url 'inventory:complete_quality_control' item.quality_control.first.id %}" class="btn btn-primary">Complete QC</a>
                            {% elif item.status == 'DELIVERED' %}
                                <button class="btn btn-secondary" disabled>Confirmation Done</button>
                            {% else %}
                                <span>Inspection Pending</span>
                            {% endif %}
                        </td>
                        
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10">No items pending for quality control inspection.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>






{% endblock %}
