{% extends 'base.html' %}  

{% block content %}



<h4>Quality Control Inspection:&nbsp;
    Purchase order ID: {{ purchase_order }}; &nbsp;
    Shipment ID: {{purchase_shipment }}
</h4>
<div class="card mt-4">
    <div class="card-body">       
        <p><strong>Product:</strong> {{ purchase_dispatch_item.dispatch_item.product.name }}</p>
        <p><strong>Supplier:</strong> {{ purchase_order.supplier.name }}</p>
        <p><strong>Total Quantity:</strong> {{  purchase_dispatch_item.dispatch_item.quantity }}</p>
    </div>
</div>

<form method="post" class="mt-4">
    {% csrf_token %}
    <table class="table table-bordered">
        <tr>
            <th>Total Quantity</th>
            <td>{{ form.total_quantity.value }}</td>
        </tr>
        <tr>
            <th>Good Quantity</th>
            <td>{{ form.good_quantity }}</td>
        </tr>
        <tr>
            <th>Bad Quantity</th>
            <td>{{ form.bad_quantity }}</td>
        </tr>
        <tr>
            <th>Inspection Date</th>
            <td>{{ form.inspection_date }}</td>
        </tr>
        <tr>
            <th>Comments</th>
            <td>{{ form.comments }}</td>
        </tr>
    </table>

    <button type="submit" class="btn btn-success">Save QC Results</button>
    <a href="{% url 'purchase:qc_dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
</form>



{% endblock %}