{% extends 'base.html' %}

{% block content %}


<div class="card shadow-sm my-5">
  <div class="card-header bg-primary text-white text-center">
    <h5 class="mb-0">Office Management Actions</h5>
  </div>
  <div class="card-body text-center d-flex flex-wrap justify-content-center gap-2">


    <a href="{% url 'officemanagement:office_expense_advance' %}" 
       class="btn btn-info btn-sm">
       <i class="fas fa-money-bill-wave"></i> Expense / Advance
    </a>

    <a href="{% url 'officemanagement:office_meeting_room_booking' %}" 
       class="btn btn-warning btn-sm text-white">
       <i class="fas fa-handshake"></i> Meeting Room Booking
    </a>

    <a href="{% url 'officemanagement:office_visitor_management' %}" 
       class="btn btn-secondary btn-sm">
       <i class="fas fa-user-friends"></i> Visitor Management
    </a>

    <a href="{% url 'officemanagement:office_documentations' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Documentations
    </a>

       <a href="{% url 'officemanagement:office_supplies_stationary' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Office Supplies & Stationary
    </a>

    <a href="{% url 'officemanagement:office_it_support_ticket' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> IT support
    </a>

    <a href="{% url 'officemanagement:inventory_report' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Inventory Report
    </a>

    <a href="{% url 'officemanagement:visitor_reports' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Visitor Report
    </a>

    <a href="{% url 'officemanagement:meeting_room_report' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Meeting room report
    </a>

    <a href="{% url 'officemanagement:advance_reconcilation_report' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Advance reconcilation report
    </a>
    <a href="{% url 'officemanagement:top_expense_categories' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> top expense categories
    </a>

  </div>
</div>

<div class="container">
    <h4 class="text-center">Confirm request Order</h4>

    <h4>Items to be purchased</h4>
    {% if basket %}
    <div class="table-responsive">
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Batch</th>
                <th>Supplier</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                          
            </tr>
        </thead>
        <tbody>
            {% for item in basket %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.batch }}</td>
                <td>{{ item.supplier }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit_price }}</td>
                          
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Confirm Request Order</button>
    </form>
    {% else %}
    <p>No items in the basket to confirm request.</p>
    {% endif %}
</div>




{% endblock %}
