{% extends "base.html" %}
{% load custom_filters %}
{% block content %}


<div class="card shadow-sm my-5">
  <div class="card-header bg-primary text-white text-center">
    <h5 class="mb-0">Office Management Actions</h5>
  </div>
  <div class="card-body text-center d-flex flex-wrap justify-content-center gap-2">


    <a href="{% url 'officemanagement:office_expense_advance' %}" 
       class="btn btn-info btn-sm">
       <i class="fas fa-money-bill-wave"></i> Expense / Advance
    </a>

    <a href="{% url 'officemanagement:office_meeting_room_booking' %}" 
       class="btn btn-warning btn-sm text-white">
       <i class="fas fa-handshake"></i> Meeting Room Booking
    </a>

    <a href="{% url 'officemanagement:office_visitor_management' %}" 
       class="btn btn-secondary btn-sm">
       <i class="fas fa-user-friends"></i> Visitor Management
    </a>

    <a href="{% url 'officemanagement:office_documentations' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Documentations
    </a>

       <a href="{% url 'officemanagement:office_supplies_stationary' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Office Supplies & Stationary
    </a>

    <a href="{% url 'officemanagement:office_it_support_ticket' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> IT support
    </a>

    <a href="{% url 'officemanagement:inventory_report' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Inventory Report
    </a>

    <a href="{% url 'officemanagement:visitor_reports' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Visitor Report
    </a>

    <a href="{% url 'officemanagement:meeting_room_report' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Meeting room report
    </a>

    <a href="{% url 'officemanagement:advance_reconcilation_report' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Advance reconcilation report
    </a>
    <a href="{% url 'officemanagement:top_expense_categories' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> top expense categories
    </a>

  </div>
</div>

<div class="container-fluid main-content">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="card shadow-lg" style="background-color: aliceblue;">
                 <!-- Card Header -->
                 <div class="card-header bg-primary text-white text-center">
                    <h5 class="mb-0"> Create Stationary usage request</h5>
                </div> 
                <div class="card-body">
                    
                    <form method="post" enctype="multipart/form-data" action="{% url 'officemanagement:create_usage_request' %}" id="add_category">
                        {% csrf_token %} 
                       {% for field in form.visible_fields %}
                            <div class="mb-3">
                                {{ field.label_tag }}
                                {{ field|add_class:"form-control" }}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="d-grid">
                        <button type="submit" name="add_to_basket" class="btn btn-primary btn-lg-lg">Add to list</button>
                        </div>
                    </form>
                 </div>
            </div>           
        </div>
        <div class="col-12 col-md-9 table-responsive">

            {% if basket %}
            <table class="table table-hover">
                <thead class="table-dark">                      
                    <h4>Items requested</h4>
                        <tr>                           
                            <th>Category</th>   
                            <th>Product</th>                                       
                            <th>Quantity</th>     
                            <th>Unit Price</th>                                                
                            <th>Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in basket %}
                        <tr>
                            <td style="white-space: nowrap;">{{ item.category }}</td>  
                            <td style="white-space: nowrap;">{{ item.name }}</td>                          
                                               
                            
                            <td style="white-space: nowrap;">{{ item.quantity }}</td>    
                            <td style="white-space: nowrap;">{{ item.unit_price}}</td>   
                                               
                        
                            <td style="white-space: nowrap;">
                                <form method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ item.id }}">
                                    <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="form-control d-inline w-25">
                                    <button type="submit" name="action" value="update" class="btn btn-sm btn-warning">Update</button>
                                </form>
                                <form method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ item.id }}">                                  
                                    <button type="submit" name="action" value="delete" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="confirm_purchase" class="btn btn-success">Confirm Request</button>
                </form>
            {% else %}
                <p>No products added to the list yet.</p>
            {% endif %}
        </div>

    </div>
</div>



<script>
    $(document).ready(function() {
        $('#id_product,#id_category').select2({
            width: '50%',
            placeholder: 'Search ...',
            allowClear: true,
            ajax: {
                url: "{% url 'accounts:common_search' %}",  // Ensure this URL is correct
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        q: params.term
                    };
                },
                processResults: function(data) {
                    return {
                        results: $.map(data.results, function(item) {
                            return {
                                id: item.id,
                                text: item.text
                            };
                        })
                    };
                },
                cache: true
            },
            minimumInputLength: 1,            
            placeholder: 'Search',
            allowClear: true,
            language: {
            inputTooShort: function () {
                return "";  
            }
        }
            
        });
    });


    </script>


{% endblock %}
