{% extends 'base.html' %}
{% block content %}




<div class="card shadow-sm my-5">
  <div class="card-header bg-primary text-white text-center">
    <h5 class="mb-0">Office Management Actions</h5>
  </div>
  <div class="card-body text-center d-flex flex-wrap justify-content-center gap-2">


    <a href="{% url 'officemanagement:office_expense_advance' %}" 
       class="btn btn-info btn-sm">
       <i class="fas fa-money-bill-wave"></i> Expense / Advance
    </a>

    <a href="{% url 'officemanagement:office_meeting_room_booking' %}" 
       class="btn btn-warning btn-sm text-white">
       <i class="fas fa-handshake"></i> Meeting Room Booking
    </a>

    <a href="{% url 'officemanagement:office_visitor_management' %}" 
       class="btn btn-secondary btn-sm">
       <i class="fas fa-user-friends"></i> Visitor Management
    </a>

    <a href="{% url 'officemanagement:office_documentations' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Documentations
    </a>

       <a href="{% url 'officemanagement:office_supplies_stationary' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Office Supplies & Stationary
    </a>

    <a href="{% url 'officemanagement:office_it_support_ticket' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> IT support
    </a>

    <a href="{% url 'officemanagement:inventory_report' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Inventory Report
    </a>

    <a href="{% url 'officemanagement:visitor_reports' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Visitor Report
    </a>

    <a href="{% url 'officemanagement:meeting_room_report' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Meeting room report
    </a>

    <a href="{% url 'officemanagement:advance_reconcilation_report' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Advance reconcilation report
    </a>
    <a href="{% url 'officemanagement:top_expense_categories' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> top expense categories
    </a>

  </div>
</div>
<form method="GET" action="{% url 'officemanagement:confirm_usage_dispatch' usage_request_order.id %}">
    <label for="valuation_method">Choose Valuation Method:</label>
    <select name="valuation_method" id="valuation_method" onchange="this.form.submit()">
        <option value="FIFO" {% if valuation_method == 'FIFO' %}selected{% endif %}>FIFO</option>
        <option value="LIFO" {% if valuation_method == 'LIFO' %}selected{% endif %}>LIFO</option>
    </select>
</form>


<form method="POST">
    {% csrf_token %}
    <div class="table-responsive">
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Requester</th>
                <th>Department</th>
                <th>Product</th>
                <th>Requested Quantity</th>
                <th>Batch</th>
                <th>Warehouse</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for item in usage_request_items %}

            <tr>
                <th>{{ item.requester }}</th>
                <th>{{ item.department }}</th>
                <td>
                    {{ item.product_name }}
                    <input type="hidden" name="product_id_{{ forloop.counter }}" value="{{ item.product_id }}">
                </td>
                <td>{{ item.quantity }}</td>
                <td>
                    <select name="batch_{{ forloop.counter }}" class="form-select">
                        {% for batch in item.batches %}
                        <option value="{{ batch.id }}">BATCH: Product={{ batch.stationary_product }}:Warehouse={{ batch.batch_inventory.first.warehouse }}:Warehouse Location={{ batch.batch_inventory.first.location }}:Available={{ batch.quantity }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="warehouse_{{ forloop.counter }}" class="form-select">
                        {% for warehouse in warehouses %}
                        <option value="{{ warehouse.id }}">{{ warehouse.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="location_{{ forloop.counter }}" class="form-select">
                        {% for location in locations %}
                        <option value="{{ location.id }}">{{ location.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <button type="submit" class="btn btn-primary">Confirm Usage Dispatch</button>
</form>


{% endblock %}
