

{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}



<h2>Book meeting room:&nbsp; {{ room.name }}</h2>
<form method="post">
    {% csrf_token %}
  {% for field in form.visible_fields %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field|add_class:"form-control" }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    <button type="submit" class="btn btn-primary">Book Room</button>
</form>


{% endblock %}