
{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="card shadow-sm my-5">
  <div class="card-header bg-primary text-white text-center">
    <h5 class="mb-0">Office Management Actions</h5>
  </div>
  <div class="card-body text-center d-flex flex-wrap justify-content-center gap-2">


    <a href="{% url 'officemanagement:office_expense_advance' %}" 
       class="btn btn-info btn-sm">
       <i class="fas fa-money-bill-wave"></i> Expense / Advance
    </a>

    <a href="{% url 'officemanagement:office_meeting_room_booking' %}" 
       class="btn btn-warning btn-sm text-white">
       <i class="fas fa-handshake"></i> Meeting Room Booking
    </a>

    <a href="{% url 'officemanagement:office_visitor_management' %}" 
       class="btn btn-secondary btn-sm">
       <i class="fas fa-user-friends"></i> Visitor Management
    </a>

    <a href="{% url 'officemanagement:office_documentations' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Documentations
    </a>

       <a href="{% url 'officemanagement:office_supplies_stationary' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Office Supplies & Stationary
    </a>

    <a href="{% url 'officemanagement:office_it_support_ticket' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> IT support
    </a>

    <a href="{% url 'officemanagement:inventory_report' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Inventory Report
    </a>

    <a href="{% url 'officemanagement:visitor_reports' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Visitor Report
    </a>

    <a href="{% url 'officemanagement:meeting_room_report' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Meeting room report
    </a>

    <a href="{% url 'officemanagement:advance_reconcilation_report' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> Advance reconcilation report
    </a>
    <a href="{% url 'officemanagement:top_expense_categories' %}" 
       class="btn btn-dark btn-sm">
       <i class="fas fa-file-alt"></i> top expense categories
    </a>

  </div>
</div>
<div class="container-fluid main-content">
    <div class="row">
        <form method="GET">
            <label>Start Date:</label>
            <input type="date" name="start_date" value="{{ start_date }}" class="form-control">
            
            <label>End Date:</label>
            <input type="date" name="end_date" value="{{ end_date }}" class="form-control">
    
      
            <label>Name:</label>
            <input type="text" name="name" value="{{ name}}"class="form-control">
            
            <button class="btn btn-primary form-control my-4" type="submit">Apply Filter</button>
        </form>


        <div class="col-12 table-responsive mt-4">

            <h4>Meeting room list</h4>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>                
                        <th>Room</th>                       
                        <th>Capacity</th>    
                        <td>Location</td>   
                        <td>Book This room</td>
                        <td>View booking status</td>           
                    </tr>
                </thead>
                <tbody>     
        
                    {% for room in page_obj %}
                <tr>
                    <td>{{ room.name }}</td>
                    <td>{{ room.capacity }}</td>
                    <td>{{ room.location }}</td>
                    <td> <a href="{% url 'officemanagement:book_meeting_room' room.id %}">Book This Room</a></td>
                    <td> <a href="{% url 'officemanagement:meeting_room_calendar' room.id %}">View Calendar</a> |</td>
                </tr>
                {% endfor %}
                
                </tbody>
              
            </table>
                           
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
                        
              
                    

{% endblock %}
