
{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}


<div class="container my-3">
  <div class="card shadow-sm border-0 rounded-3">
    <div class="card-body text-center py-3">
      <a href="{% url 'recruitment:recruitment_dashboard' %}" 
         class="btn btn-success btn-sm px-4">
         🚚 Dashboard
      </a>
    </div>
  </div>
</div>


<div class="container-fluid main-content">
    <div class="row">
       
        <div class="col-12 col-md-12 table-responsive">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center p-2">Exam name</th>
                        <td>Active status</td>
                        <th class="text-center p-2">Job</th>                       
                        <th class="text-center p-2">total marks </th>  
                        <th class="text-center p-2">Pass marks </th> 
                        <th class="text-center p-2">duration </th>    
                        <th class="text-center p-2">Question paper </th> 
                        <th class="text-center p-2">Exam date </th>
                        <td style="white-space: normal;">No of candidates selected for exam</td>
                        <th class="text-center p-2">Interview panel</th>
                         <td style="white-space: normal;">No of candidates selected for interview</td>
                         <th class="text-center p-2">Interview date </th>  
                        <th class="text-center p-2">Start exam </th>                               
                     
                    </tr>
                </thead>
                <tbody>                
                 
                        <tr>

                           
                            <td class="text-center p-1">{{ data.title }}</td>    
                            <td>
                                {% if data.is_active %}
                               <i class="fas fa-check text-success fw-bold">Active</i>
                               {% else %}
                               <i class="fas fa-times text-danger fw-bold">Expired</i>
                               {% endif %}
                            </td>                                                                             
                            <td class="text-center p-2" style="white-space: nowrap;">{{data.job}}</td>
                           
                           
                            <td class="text-center p-2" style="white-space: nowrap;">{{data.total_marks}}</td>
                            <td class="text-center p-2" style="white-space: nowrap;">{{data.pass_marks}}</td>
                            <td class="text-center p-2" style="white-space: nowrap;">{{data.duration}}</td>
                           
                            <td>
                                {% if data.questions %}
                                <a href="{% url 'recruitment:question_paper' data.id %}">Qestions</a>
                                {% endif %}
                            </td>
                           
                            <td>{{ data.start_time }}</td>
                            <td>{{ data.job.candidates.all|status_in:'SELECTED' }}</td>


                            <td><a href="{% url 'recruitment:panel_details' data.exam_panels.first.id %}">Interview panel</a></td>
                            <td>{{ data.job.candidates.all|status_in:'EXAM-PASS' }}</td>
                            
                            <td>{{ data.interview_exam.first.interview_date }}</td>
                                                      
                            <td>
                                {% if data.job.candidates.first %}
                                <a href="{% url 'recruitment:take_exam' data.id data.job.candidates.first.id %}">Start exam</a>
                                {% else %}
                                <span>No candidate for exam</span>
                                {% endif %}
                            </td>
                            
                            
                            
                        </tr>
                                           
                   
                </tbody>
                
            </table>
                    
            <!-- Pagination Controls -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>


             <!-- Delete Confirmation Modal -->
             <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete the transport record: <strong id="modal-entity-name"></strong>?
                        </div>
                        <div class="modal-footer">
                            <form method="post" id="delete-form">
                                {% csrf_token %}
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <h4 style="height:10px"></h4>
    
</div>




<script>
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget; 
        const entityId = button.getAttribute('data-id');
        const entityName = button.getAttribute('data-name');

          const modalEntityName = deleteModal.querySelector('#modal-entity-name');
        modalEntityName.textContent = entityName;
  
        const deleteForm = deleteModal.querySelector('#delete-form');
        deleteForm.action = `/recruitment/delete_exam/${entityId}/`;
    });
</script>




{% endblock %}