
{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}

<div class="container my-3">
  <div class="card shadow-sm border-0 rounded-3">
    <div class="card-body text-center py-3">
      <a href="{% url 'recruitment:recruitment_dashboard' %}" 
         class="btn btn-success btn-sm px-4">
         🚚 Dashboard
      </a>
    </div>
  </div>
</div>


<div class="container-fluid main-content">
    <div class="row">  
      <h3 class="text-center fw-bold text-primary"> Recruitment Summary Result</h3>
     
     
      <!-- First Column for Form -->
   
       <div class="col-12 mb-4">
        <div class="container-fluid">
         
          {% if job_title %} 
          <h5 class="text-center fw-bold">        
         <span class="text-primary fw-bold">Job name :</span>
         <span style="color:blue">{{ job_title }}</span>   
          </h5>    
          {% endif %}
       </h3>    
            <div class="row">     
             
              {% if form %}  
                <div class="col-12 col-md-4">
                
                 
                    <div class="card shadow-lg" style="background-color: aliceblue;">
                    <!-- Card Header -->
                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="mb-0"> Filter by job</h3>
                    </div>
                    <!-- Form -->
                    <form method="POST" enctype="multipart/form-data" class="p-2 m-4" name="form-1">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid">
                          <input type="hidden" name="form_name" value="form-1">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </form>
                    </div>
                   
                </div>    
               
                {% else %}          
                <div class="col-12 col-md-2"></div>
                {% endif %}
               
              

               
                <div class="col-12 col-md-4">
                  
                <div class="card shadow-sm border-0">
                  <div class="card-body" style="background-color: aliceblue;">                                       
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                       
                          <strong>{{ job_title}}{{job.title}}</strong>
                      </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                              Total Candidates:
                              <span>{{ total_candidates }}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                              Candidates selected:
                              <span>{{ total_selected_candidates }}</span>
                          </li>    
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            total_offer_candidates:
                            <span>{{ total_offer_candidates }}</span>
                        </li>   
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          total_waitlist_candidates:
                          <span>{{ total_waitlist_candidates }}</span>
                      </li>   
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        total_confirmed_candidates:
                        <span>{{ total_confirmed_candidates }}</span>
                    </li>   
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      total_onboard_candidates:
                      <span>{{ total_onboard_candidates}}</span>
                  </li>                         
                      </ul>
                   
                  </div>
              </div>
                </div>
           
            <div class="col-12 col-md-4 shadow" style="background-color: aliceblue;height:250px">
              <canvas id="projectChart" style="margin-top:20px; max-width: 100%; max-height: 80%;"></canvas>        
            </div>

                </div>
            </div>
          </div>
          
    
            
          {% if page_obj %}
        <div class="col-12 table-responsive">         
        <!-- Table -->
        <table class="table">
          <thead class="table-dark">
            <tr>

              <th>Candidate details</th>
              <th>Offer letter preview</th>              
              <th>Hiring Manager approval</th>           
              <th>Candidate Name</th>
              <th>Job Title</th>              
              <th>CV screening score</th>
              <th>CV screening result</th>
              <th>MCQ Exam score</th>
              <th>MCQ Exam result</th>
              <th>BQ exam score</th>
              <th>BQ Exam result</th>
              <th>Interview screening score</th>
              <th>Interview  result</th>
              <th>Combined score</th>
              <th>Final status</th>

              <th>Offer status</th>              
              <th>Confirmation Status</th>
              <th>Confirmation dealine</th>
              <th>Onboard status</th>
              <th>Onboard deadline</th>
              <th>Expected Onboard deadline</th>
              <th>Hiring status</th>

              <th>Resume</th>
              <th>Updated at</th>
              

            </tr>
          </thead>
          <tbody>
            {% for data in page_obj %}
              <tr>
                <td><a href="{% url 'recruitment:candidate_details' data.id%}">Candidate details</a></td>
                <td><a href="{% url 'recruitment:preview_offer_letter' data.id%}">offer letter preview</a></td>                             
                
                <td>
                  {% if data.manager_confirmation_of_joining %}
                  <span class="text-success fw-bold"><i class="fas fa-check text-success, fw-bold"></i>Approved</span>
                  {% else %}
                  <a href="{% url 'recruitment:hiring_manager_onboarding_approval' data.id%}">Hiring manager approval for onboard</a>
                  {% endif %}
                </td>

                
               
                <td>{{ data.full_name }}</td>
                <td>{{ data.applied_job.title }}</td>
                <td>{{ data.cv_screening_score }}</td>
                <td>
                  {% if data.cv_screening_status == 'SHORT-LISTED' %}
                  <i class="fas fa-check text-success fw-bold">Short Listed</i>
                  {% else %}
                  <i class="fas fa-times text-danger fw-bold">Rejected</i>
                 {% endif %}
                </td>
                <td>{{ data.exam_score }}</td>

                <td>
                  {% if data.exam_status %}
                  {% if data.exam_status == 'EXAM-PASS' %}
                  <i class="fas fa-check text-success fw-bold">Pass</i>
                  {% else %}
                  <i class="fas fa-times text-danger fw-bold">Fail</i>
                 {% endif %}
                 {% else %}
                 <span class="text-danger fw-bold">Not appeared</span>
                 {% endif %}
                </td>
                <td>{{ data.bq_exam_score }}</td>

                <td>
                  {% if data.bq_exam_status %}

                  {% if data.b_exam_status == 'EXAM-PASS' %}
                  <i class="fas fa-check text-success fw-bold">Pass</i>
                  {% else %}
                  <i class="fas fa-times text-danger fw-bold">Fail</i>
                 {% endif %}

                 {% else %}
                 <span class="text-danger fw-bold">Not appeared</span>
                 {% endif %}
                </td>             
               
                <td>{{ data.interview_score }}</td>

                <td>
                  {% if data.interview_status %}
                  {% if data.interview_status == 'INTERVIEW-PASS' %}
                  <i class="fas fa-check text-success fw-bold">Pass</i>
                  {% else %}
                  <i class="fas fa-times text-danger fw-bold">Fail</i>
                 {% endif %}
                 {% else %}
                 <span class="text-danger fw-bold">Not appeared</span>
                 {% endif %}
                </td>
                   
                <td>{{ data.total_score }}</td>  

                <td><span class="text-primary fw-bold">{{ data.status }}</span></td>

                <td><span class="text-primary fw-bold">
                  {% if data.offer_status == 'offered' %}
                  <i class="fas fa-check text-success fw-bold">Offered</i></span>
                  {% elif data.offer_status == 'waitlist' %}
                  <i class="fas fa-check text-success fw-bold">Waitlisted</i></span>
                  {% else %}
                  <span class="text-warning fw-bold">Pending to offer</span>
                  {% endif %}
                </td>
                                
                <td>
                  {% if data.confirmation_status == 'accepted' %}
                  <i class="fas fa-check text-success fw-bold">Accepted</i>
                  {% elif data.confirmation_status == 'declined' %}
                  <i class="fas fa-times text-danger fw-bold">Declined</i>
                  {% else %}
                  <span class="text-warning fw-bold">Confirmation Pending</span>
                 {% endif %}
                </td>

                <td>{{ data.confirmation_deadline }}</td>
               

                <td>
                  {% if data.onboard_status == 'onboard' %}
                  <i class="fas fa-check text-success fw-bold">Onboarded</i>
                  {% elif data.onboard_status == 'declined' %}
                  <i class="fas fa-times text-danger fw-bold">Declined</i>
                  {% else %}
                  <span class="text-warning fw-bold">Onboard Pending</span>
                 {% endif %}
                </td>
                <td>{{ data.joining_deadline }}</td>
                <td>{{ data.expected_joining_date }}</td>
              
                <td>
                  {% if data.hiring_status %}
                    <span class="fas fa-check text-success fw-bold">Hired</span>

                  {% else %}
                     <span class="text-warning fw-bold">Pending</span> 
                  {% endif %}
                </td>              
         
               
                <td>
                    {% if data.resume %}
                    <a href="{{ data.resume.url }}" target="_blank">
                        View CV
                    </a>
                  {% else %}
                        <img src="{{ data.resume.url }}" class="rounded-circle" style="width:70px; height:70px; border: 2px solid #ddd;">
                    {% endif %}              
                </td>

                
                <td>{{ data.updated_at|date:"F j, Y, g:i a" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
     
      </div>
      {% else %}
      <span> No record </span>
      {% endif %}
    
  </div>
    <!-- Pagination Controls -->
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  
    <h4 style="height:10px"></h4>
</div>
  




<script>
  const chartData = JSON.parse('{{ chart_data|escapejs }}');       
  const ctx = document.getElementById('projectChart').getContext('2d');   

 
  const incrementChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: chartData.labels,
          datasets: [{
              label: 'percentage',
              data: chartData.values,
              backgroundColor: [                   
            
                '#00BFFF',  // Deep Sky Blue
                '#32CD32',  // Lime Green
                '#00COFF',  // Deep Sky Blue
                '#ff4050',  // Lime Green  
                '#00BFCC',  // Deep Sky Blue
                ],

          borderColor: [                
           
         
                '#00BFFF',  // Deep Sky Blue
                '#32CD32',  // Lime Green
                '#00COFF',  // Deep Sky Blue
                '#ff4050',  // Lime Green  
                '#00BFCC',  // Deep Sky Blue
             
          ],

              borderWidth: 1,
          }],
      },
      options: {
          responsive: true,
          plugins: {
              legend: {
                  position: 'right',
                  labels: {
                  color: '#333333',  // Set legend text color (e.g., dark gray)
                  font: {
                      size: 14,      // Optional: Change font size
                      family: 'Arial', // Optional: Change font family
                      weight: 'bold',  // Optional: Change font weight
                  },
              },
              },
          },
      },
  });
  

</script>








<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const jobSelect = document.getElementById('id_job_title');
        const examSelect = document.getElementById('id_exam');

        jobSelect.addEventListener('change', function () {
            const jobId = jobSelect.value;
            fetch(`/recruitment/get_exams/${jobId}/`)
                .then(response => response.json())
                .then(data => {
                    examSelect.innerHTML = ''; 
                    data.exams.forEach(function (exam) {
                        const option = document.createElement('option');
                        option.value = exam.id;
                        option.textContent = exam.name;
                        examSelect.appendChild(option);
                    });
                });
        });
    });
</script>


{% endblock %}


