{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}

<div class="container mt-4">
<div class="container-fluid main-content py-4">
  <div class="row g-2 justify-content-center text-center">
    <div class="col-auto">
      <a href="{% url 'purchase:create_purchase_request' %}" class="btn btn-sm btn-success">Request for Purchase</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:purchase_request_order_list' %}" class="btn btn-sm btn-success">Request Order List</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:rfq_list' %}" class="btn btn-sm btn-success">RFQ List</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:supplier_quotation_list' %}" class="btn btn-sm btn-success">Supplier Quotation List</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:purchase_order_list' %}" class="btn btn-sm btn-success">Purchase Order List</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:create_batch' %}" class="btn btn-sm btn-success">Create Batch</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'logistics:purchase_shipment_list' %}" class="btn btn-sm btn-success">Purchase Shipment</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:batch_list' %}" class="btn btn-sm btn-success">Batch List</a>
    </div>
       <div class="col-auto">
        <a href="{% url 'finance:purchase_invoice_list' %}" class="btn btn-sm btn-success">Purchase Invoice List</a>
        </div>
         <div class="col-auto">
        <a href="{% url 'finance:sale_invoice_list' %}" class="btn btn-sm btn-success">Sale Invoice List</a>
        </div>
  </div>
</div>



    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Supplier Quotation #{{ quotation.quotation_number }}</h2>
         
            {% if quotation.status == "draft" %}
              <a href="{% url 'purchase:send_supplier_quotation' quotation.pk %}" class="btn btn-warning btn-sm">Send</a>
          {% endif %}

          {% if quotation.status in "draft sent" %}
              <a href="{% url 'purchase:approve_supplier_quotation' quotation.pk %}" class="btn btn-success btn-sm">Approve</a>
              <a href="{% url 'purchase:reject_supplier_quotation' quotation.pk %}" class="btn btn-danger btn-sm">Reject</a>
          {% endif %}


        {% if request.user.is_staff %}
        {% if quotation.status == "approved" %}
        {% if not quotation.supplier_quotations.first %}
        <a href="{% url 'purchase:convert_supplier_quotation' quotation.id %}"
           class="btn btn-primary"
           onclick="return confirm('Convert this quotation to a Purchase Order?')">
            Convert to Purchase Order
        </a>
        {% endif %}
        {% endif %}
        {% endif %}

        {% if quotation.status == "approved" and request.user.is_authenticated %}
        {% if not quotation.supplier_quotations.first.purchase_shipment.first.shipment_invoices.first %}
      
         <a href="{% url 'finance:create_purchase_invoice_from_quotation' quotation.id %}"
           class="btn btn-primary"
           onclick="return confirm('Are You sure  to convert this quotation to a Invoice?')">
            Convert to Invoice
        </a>
        {% endif %}
        {% endif %}
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <p>
            <strong>Supplier:</strong> {{ quotation.supplier.name }}<br>
            <strong>Quotation Date:</strong> {{ quotation.date }}<br>
            <strong>Valid Until:</strong> {{ quotation.valid_until }}<br>
            <strong>Total Amount:</strong> {{ quotation.net_due_amount|add_commas }}<br>
             <strong>AIT:</strong> {{ quotation.AIT_type }}<br>
            <strong>Status:</strong> {{ quotation.status }}<br>
            <strong>Remarks:</strong> {{ quotation.notes|default:"-" }}
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Quotation Items</div>
        <div class="card-body p-0">
            <table class="table table-bordered mb-0">
                <thead class="table-light">
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                         <th>VAT rate</th>
                        <th>VAT status</th>                                          
                        <th>Line Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in quotation.purchase_quotation_items.all %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.unit_price }}</td>
                        <td>{{ item.VAT_rate}}&nbsp;%</td>
                        <td>{{ item.VAT_type }}</td>                      
                        <td>{{ item.quantity|floatformat:2|default:0|multiply:item.unit_price|add_commas }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center text-muted">No items</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
