{% extends "base.html" %}
{% load custom_filters %}
{% block content %}



<div class="container my-3">
  <div class="card shadow-sm border-0 rounded-3">
    <div class="card-body text-center py-3">
      <a href="{% url 'tasks:tasks_dashboard' %}" 
         class="btn btn-success btn-sm px-4">
         🚚 Dashboard
      </a>
    </div>
  </div>
</div>

<div class="container-fluid main-content">
    <div class="row">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row">
                    
                    <!-- Add Member Form -->
                    <div class="col-12 col-md-4">
                        <div class="card shadow p-3" style="background-color:aliceblue;">
                            <div class="card-header bg-primary text-white text-center">
                                <h3 class="mb-0">Add member</h3>
                            </div>
                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data" id="add_customer">
                                    {% csrf_token %}
                                   {% for field in form.visible_fields %}
                                    <div class="mb-3">
                                        {{ field.label_tag }}
                                        {{ field|add_class:"form-control" }}
                                        {% if field.help_text %}
                                            <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <div class="text-danger">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary btn-lg">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Members List -->
                    <div class="col-12 col-md-8 mt-4">
                        <form method="get" class="my-3">
                            <label for="start_date">Start Date:</label>
                            <input type="date" id="start_date" name="start_date" value="{{ request.GET.start_date }}"  class="form-control">
                            <label for="end_date">End Date:</label>
                            <input type="date" id="end_date" name="end_date" value="{{ request.GET.end_date }}"  class="form-control">
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </form>

                        <h2>Members List</h2>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="table-dark">
                                    <tr class="bg-primary text-white">
                                        <th>Team ID</th>
                                        <th>Team Name</th>
                                        <th>Member Name</th>
                                        <th>Member Type</th>
                                        <th>Created at</th>
                                        <th>Updated at</th>
                                        <th>Delete Team</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if members %}
                                        {% for team in page_obj %}
                                        <tr>
                                            <td>{{ team.team.team_id }}</td>
                                            <td>{{ team.team.name }}</td>
                                            <td>{{ team.member.name }}</td>
                                            <td>{% if team.is_team_leader %}Team leader{% else %}Member{% endif %}</td>
                                            <td>{{ team.created_at }}</td>
                                            <td>{{ team.updated_at }}</td>
                                            <td><a href="{% url 'tasks:delete_member' team.id %}">delete member</a></td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="7" class="text-center">No records found.</td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="7" class="text-center">No record found</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>

                        <!-- Pagination -->
                        <div class="pagination">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}

                                <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>

                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

      


<script>
    $(document).ready(function() {
        $('#id_product,#id_category').select2({
            width: '50%',
            placeholder: 'Search ...',
            allowClear: true,
            ajax: {
                url: "{% url 'accounts:common_search' %}",  // Ensure this URL is correct
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        q: params.term
                    };
                },
                processResults: function(data) {
                    return {
                        results: $.map(data.results, function(item) {
                            return {
                                id: item.id,
                                text: item.text
                            };
                        })
                    };
                },
                cache: true
            },
            minimumInputLength: 1,
            placeholder: 'Search',
            allowClear: true
        });
    });


    document.addEventListener("DOMContentLoaded", function() {
        const messageModal = document.getElementById('messageModal');
        const messagesContainer = document.getElementById('messagesContainer');
        if (messageModal && messagesContainer && messagesContainer.children.length > 0) {
            const modalInstance = new bootstrap.Modal(messageModal);
            modalInstance.show();
            setTimeout(() => {
                    modalInstance.hide();
                }, 5000)
        }
    });
    </script>



{% endblock %}
