{% extends "base.html" %}
{% load custom_filters %}
{% block content %}



<div class="container my-3">
  <div class="card shadow-sm border-0 rounded-3">
    <div class="card-body text-center py-3">
      <a href="{% url 'tasks:tasks_dashboard' %}" 
         class="btn btn-success btn-sm px-4">
         🚚 Dashboard
      </a>
    </div>
  </div>
</div>

<div class="container-fluid main-content">
    <div class="row">  

        <div class="col-12"> 

           <div class="container-fluid">
                <div class="row">
                        <div class="col-12 col-md-4">                          
                            <div class="card shadow" style="padding:10px;background-color:aliceblue;">
                                  <!-- Card Header -->
                                  <div class="card-header bg-primary text-white text-center">
                                    <h3 class="mb-0"> Create Team</h3>
                                </div> 
                                <div class="card-body">                                   
                                    <form method="post" enctype="multipart/form-data" action="{% url 'tasks:create_team' %}" id="add_category">
                                        {% csrf_token %} 
                                      {% for field in form.visible_fields %}
                                        <div class="mb-3">
                                            {{ field.label_tag }}
                                            {{ field|add_class:"form-control" }}
                                            {% if field.help_text %}
                                                <small class="form-text text-muted">{{ field.help_text }}</small>
                                            {% endif %}
                                            {% for error in field.errors %}
                                                <div class="text-danger">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                        <div class="d-grid">
                                        <button type="submit" name="add_to_basket" class="btn btn-primary bg-lg">Submit</button>
                                    </div>
                                    </form>
                                 </div>
                            </div>        
                        </div>

                        
                        <div class="col-12 col-md-8 table-responsive mt-4">
                            <form method="get">
                                <label for="start_date">Start Date:</label>
                                <input type="date" id="start_date" name="start_date" value="{{ request.GET.start_date }}" class="form-control">
                                
                                <label for="end_date">End Date:</label>
                                <input type="date" id="end_date" name="end_date" value="{{ request.GET.end_date }}" class="form-control">
                            
                                <button type="submit" class="btn btn-primary">Filter</button>
                            </form>
                            
   
                            <h2>Teams List</h2>
                            <table class="table table-hover">
                              
                                <a href="{% url 'tasks:add_member' %}" class="btn btn-primary mb-2">Add member</a>
                                <thead class="table-dark">
                                    <tr>
                                        <th>Team ID</th>
                                        <th>Team Name</th>
                                        <th>Created at</th>
                                        <th>Updated at</th>                                      
                                        <th>Delete Team</th>
                                        <th>Add member</th>
                
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if page_obj  %}
                                    {% for team in page_obj %}
                                    <tr>
                                        <td>{{ team.team_id }}</td>
                                        <td>{{ team.name}}</td>
                                        <td>{{ team.created_at }}</td>
                                        <td>{{ team.updated_at}}</td>      
                                        <td>
                                            <a href="{% url 'tasks:delete_team' team.id%}">delete team</a>
                                        </td>    
                                        
                                        <td><a href="{% url 'tasks:add_member_with_id' team.id %}">Add member</a></td>
                                      
                                    
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="7" style="text-align: center;">No records found.</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <span>No team found</span>
                                    {% endif %}
                                </tbody>
                            </table>
                            
                            <!-- Pagination Controls -->
                            <div class="pagination">
                                <span class="step-links">
                                    {% if page_obj.has_previous %}
                                        <a href="?page=1">&laquo; first</a>
                                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>

                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>           

                  </div>
             </div>

         </div>
    </div>
    
  

</div>

        


<script>
    $(document).ready(function() {
        $('#id_product,#id_category').select2({
            width: '50%',
            placeholder: 'Search ...',
            allowClear: true,
            ajax: {
                url: "{% url 'accounts:common_search' %}",  // Ensure this URL is correct
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        q: params.term
                    };
                },
                processResults: function(data) {
                    return {
                        results: $.map(data.results, function(item) {
                            return {
                                id: item.id,
                                text: item.text
                            };
                        })
                    };
                },
                cache: true
            },
            minimumInputLength: 1,
            placeholder: 'Search',
            allowClear: true
        });
    });

   
    </script>



{% endblock %}