{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
 
<div class="container my-3">
  <div class="card shadow-sm border-0 rounded-3">
    <div class="card-body text-center py-3">
      <a href="{% url 'transport:transport_dashboard' %}" 
         class="btn btn-success btn-sm px-4">
         🚚 Transport Dashboard
      </a>
    </div>
  </div>
</div>


<div class="container-fluid main-content">
    <div class="row">
        <div class="col">
            <div class="card shadow-lg" style="background-color: aliceblue;">
                <!-- Card Header -->
                <div class="card-header bg-primary text-white text-center">
                    <h3 class="mb-0">Update Log data</h3>
                </div> 
                <div class="card-body">                       
                    <form method="post" enctype="multipart/form-data" action="" id="add_customer">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field|add_class:"form-control" }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                        <div class="d-grid">
                            <button type="submit" name="customer_submit"value="customer_submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </form>
                 </div>
            </div>  
        </div>
    </div>
</div>

    
{% endblock %}
