{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
<div class="container-fluid main-content py-4">
  <div class="row g-2 justify-content-center text-center">
    <div class="col-auto">
      <a href="{% url 'purchase:create_purchase_request' %}" class="btn btn-sm btn-success">Request for Purchase</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:purchase_request_order_list' %}" class="btn btn-sm btn-success">Request Order List</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:rfq_list' %}" class="btn btn-sm btn-success">RFQ List</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:supplier_quotation_list' %}" class="btn btn-sm btn-success">Supplier Quotation List</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:purchase_order_list' %}" class="btn btn-sm btn-success">Purchase Order List</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:create_batch' %}" class="btn btn-sm btn-success">Create Batch</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'logistics:purchase_shipment_list' %}" class="btn btn-sm btn-success">Purchase Shipment</a>
    </div>
    <div class="col-auto">
      <a href="{% url 'purchase:batch_list' %}" class="btn btn-sm btn-success">Batch List</a>
    </div>
       <div class="col-auto">
        <a href="{% url 'finance:purchase_invoice_list' %}" class="btn btn-sm btn-success">Purchase Invoice List</a>
        </div>
         <div class="col-auto">
        <a href="{% url 'finance:sale_invoice_list' %}" class="btn btn-sm btn-success">Sale Invoice List</a>
        </div>
  </div>
</div>

    <div class="row">

    <h2>RFQs</h2>
    <div class="col table-responsive">
        <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>RFQ Number</th>
                        <th>Purchase Request</th>
                        <th>Date</th>
                        <th>Valid Until</th>
                        <th>Status</th>
			<th>RFQ details</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rfq in rfqs %}
                    <tr>
                        <td>{{ rfq.rfq_number }}</td>
                        <td>{{ rfq.purchase_request_order }}</td>
                        <td>{{ rfq.date }}</td>
                        <td>{{ rfq.valid_until }}</td>
                        <td>{{ rfq.get_status_display }}</td>
                        <td>
                            <a href="{% url 'purchase:rfq_detail' rfq.pk %}" class="btn btn-info btn-sm m-2">RFQ Details</a>
			</td>
			<td>  
                             {% if not rfq.rfq_quotation.first and rfq.status == "sent" %}
                            <a href="{% url 'purchase:create_supplier_quotation' rfq.pk %}" class="btn btn-info btn-sm m-2">
				Create Quotation</a>  
                              
                            {% elif rfq.rfq_quotation.first %}                         
                              <a href="{% url 'purchase:supplier_quotation_comparison' rfq.id %}" 
				class="btn btn-sm btn-success">Quotation Comparision</a>
				{% else %}
				<span>
				<form id="send-rfq-form" method="post" action="{% url 'purchase:send_rfq' rfq.id %}">
                        	{% csrf_token %}
                        	<button type="submit" class="btn btn-warning">Approve and sent now</button>
                    		</form>
				</span>
                              {% endif %}
                        </td>
                      
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No RFQs found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

    </div>
</div>
{% endblock %}
